@keyframes tilt {
  0%, 50%, 100% {
    transform: skewX(0deg);
  }
  25% {
    transform: skewX(4deg);
  }
  75% {
    transform: skewX(-4deg);
  }
}


@keyframes zoom-in-out {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.1);
  }
}

