@import "../abstract/colors";

// ///////////////////////
// Headings
// ///////////////////////
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $base-font-family;
}

h1,
.h1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1.2;
}

h2,
.h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

h3,
.h3 {
  font-weight: 300;
  font-size: 1.17rem;
}

// ///////////////////////
// Line Break
// ///////////////////////
hr,
.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba($on-base, 0),
    rgba($on-base, 0.75),
    rgba($on-base, 0)
  );
}

// ///////////////////////
// Margins
// ///////////////////////
.mg-sm {
  margin-bottom: 2rem;
}
.mg-md {
  margin-bottom: 3rem;
}
.mg-lg {
  margin-bottom: 4rem;
}
.mg-hg {
  margin-bottom: 8rem;
}
