$base: #fafafa;
$base-dark: #ebf0f2;
$base-light: #fff;
$on-base: #000;

$primary: #2510d7;
$primary-dark: #200eb7;
$primary-light: #3f2bef;
$on-primary: #fff;

$secondary: #f2c14a;
$secondary-dark: #f0b62a;
$secondary-light: #f4cc6a;
$on-secondary: #000;

$error: #aa0000;
$on-error: #fff;

$success: #005303;
$on-success: #fff;

$disable: #777;
$on-disable: #fff;