@import "../abstract/colors";

input {
  font-family: inherit;
  border: 1px solid $on-base;
  border-radius: 4px;
  outline: none;
  padding: 0.4rem 0.8rem;
  box-sizing: border-box;
}

input.ng-invalid.ng-touched {
  border: 1px solid $error;
}

input:focus {
  border: 1px solid $primary;
}
